
.idea/misc.xml
.idea/modules.xml
.idea/Project-2-1-Stratego.iml
.idea/vcs.xml
*.json
.vscode/launch.json
.vscode/settings.json
.vscode/launch.json
.vscode/settings.json
.vscode/launch.json
.vscode/launch.json
.vscode/settings.json
.vscode/launch.json
.vscode/settings.json
